#admin_logIn_area {
    width: 25%;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
}

#admin_logIn_area_title {
    font-size: 20px;
    margin-bottom: 20px;
}

.admin_button {
    width: 100%;
}