/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
  font-family: 'Bodoni 72';
  src: url(/Bodoni_72.ttc) format('ttc');
}

body {
  width: 100%;
  margin: auto !important;
  /* background-image: url("../image/QWE.png"); */
  background-color: #f4f4f4 !important;
  /* font-family: Microsoft JhengHei; */
  /* background-repeat: repeat; */
  /* background-size: 100% 100%; */
  /* background-attachment: fixed; */
}

* {
  font-family: Microsoft JhengHei;
}

#index_top {
  /* background-color: #fff; */
  width: 100%;
}

.index_bg_img {
  width: 100%;
}

.top_area {
  position: relative;
  /* min-height: 48px; */
  /* max-width: 1000px; */
  /* padding: 0 12px; */
  margin: auto;
}

.top_title {
  font-size: 20px;
  color: #fff;
  line-height: 48px;
  position: relative;
  padding-bottom: 24px;
  border-bottom: #C43A5E 2px solid;
}

.test_a_set {
  color: #fff;
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

.test_a_set:hover {
  color: rgb(255, 153, 153);
  text-decoration: none;
}

#navbar_right {
  /* position: absolute; */
  /* right: 50px; */
  line-height: 44px;
  text-align: center;
  /* max-width: 1000px; */
  margin: auto;
  width: 100%;
  /* background-image: url("../image/navbar_bg.png");
  background-repeat: repeat;
  background-size: 66% 50px; */
}

.log_in_button {
  position: absolute;
  right: 24px;
  top: 9px;
  display: flex !important;
}

.instruc_btn {
  position: absolute;
  right: 12px;
  top: 3px;
  display: flex !important;
  padding-right: 0 !important;
}

.top_bottom_set {
  height: 8px;
  width: 100%;
  background-image: url("../image/navbar_underline.jpg");
  background-repeat: repeat;
  background-size: 500px 9px;
}

.bottom_top_set {
  height: 30px;
  width: 100%;
  background-image: url("../image/bottom.png");
  background-repeat: repeat;
  background-size: 500px 30px;
}

.user_icon {
  max-width: 32px;
  margin-right: 6px;
}

#log_in_form {
  width: 100%;
  text-align: left;
}

.sidenav {
  display: flex;
  background-color: #bd6e6e;
}

.nav-link {
  color: #fff;
  width: calc(100% / 7);
  text-align: center;
  border: #343a40 1px solid;
}

.nav-link:hover {
  color: #fff;
  background-color: #C43A5E;
  width: calc(100% / 7);
  text-align: center;
}

.card_area {
  max-width: 1000px;
  margin: auto;
  margin-top: 12px;
  padding: 0 12px;
  text-align: center;
}

.card-header {
  padding: 12px !important;
  padding-top: 18px !important;
  color: yellow;
  font-weight: bold;
  background-image: url(../image/empty.png);
}

.card-body {
  padding: 12px !important;
}

#news_table_content {
  text-align: left;
  margin-bottom: 0px;
}

.nav_bar_set {
  max-width: 1000px;
  margin: auto;
}

.nav_set {
  width: 20%;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.carousel-indicators {
  margin-bottom: 0px !important;
  top: 430px;
}

.carousel-indicators li {
  /* background-color: #000!important; */
  height: 5px !important;
  border-radius: 11px;
}

.carousel-control-prev-icon {
  width: 50px;
}

#carouselExampleIndicators {
  background-color: rgb(189, 110, 110);
}

.carousel-inner {
  /* max-width: 1000px; */
  /* margin: auto; */
  width: 100%;
  max-height: 460px;
  /* text-align: center; */
}

/* .index_carousel_set {
    text-align: center;
} */

.index_carousel_img_set {
  /* max-width: 973px; */
  width: 100%;
  object-fit: cover;
  height: 500px;
  object-position: 0 50%;
  /* padding: 20px 12px; */
}

#video_top_title, #target_top_title {
  width: 100%;
  margin-top: 30px;
}

.area_title {
  text-align: center;
  width: 30%;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 12px;
  border-bottom: #343a40 1px solid;
}

#carousel_videos {
  width: 100%;
}

.videos {
  width: 95%;
  margin: auto;
  display: flex;
}

.videos_set {
  display: flex;
}

.videos_content {
  width: 33.3%;
  border-radius: 5px;
  margin: 0;
}

.videos_right {
  margin-right: 20px;
}

.target_img {
  max-width: 1000px;
  padding: 20px;
}

.video_title {
  /* width: 40%; */
  text-align: center;
  /* margin-bottom: 2px; */
  font-weight: bold;
  font-size: 16px;
  color: #343a40;
}

.video_play {
  /* width: 60%; */
  margin: 20px;
}

.video_shot_set {
  width: 100%;
}

.carousel_button {
  width: 4% !important;
  margin: 0;
  background-color: #343a40;
  z-index: 0 !important;
}

#plan_target {
  width: 60%;
  margin: auto;
  display: flex;
  margin-top: 20px;
}

.plan_target_set {
  padding: 0;
  margin: auto;
}

#index_button {
  width: 100%;
  margin: 20px 0;
}

.index_button_container {
  width: 50% !important;
}

.index_button_set {
  text-align: center;
}

#contact_top_title {
  text-align: center;
}

.contact_content {
  margin-top: 12px;
}

.contact_content_h6 {
  font-size: 20px;
}

#footer_cpn {
  background-color: #1b243d;
  color: #fff;
}

.container_target {
  max-width: 1240px !important;
  padding: 0 !important;
}

.footer_bgc {
  /* background-color: #c7c8ca; */
  display: flex;
}

.container_footer_set {
  /* width: 1000px!important; */
  max-width: 1000px !important;
  margin: auto;
}

.footer_area {
  border-left: #C43A5E 4px solid;
  padding-left: 12px;
  margin: 40px 16px;
}

.footer_font {
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.row {
  width: 100%;
  margin: 0 !important;
}

.footer_img_set {
  width: 240px;
  /* margin: 20px 0; */
}

.footer_contact {
  color: #ffffff;
}

.footer_content {
  padding: 0 !important;
  text-align: center;
}

.footer_contact_set {
  color: #ffffff;
  line-height: 102px;
  font-size: 20px;
}

#cke_14, #cke_15, #cke_16, #cke_20, #cke_24, #cke_26 {
  display: none;
}

.top_title_set {
  text-align: center;
  font-size: 24px;
  color: #000;
  /* max-height: 50px; */
}

.host_area {
  background-color: #000;
  height: 155px;
  color: #fff;
  text-align: center;
}

.host_content {
  margin: 0;
  padding-top: 7px;
  font-size: 0.75rem;
}

.global_content_indent {
  text-indent: 2em;
  text-align: justify;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.global_title_set {
  color: #C43A5E;
  font-size: 40px;
  font-family: 'Bodoni 72';
  font-weight: bold;
}

.global_title_ {
  background-color: #C43A5E;
  height: 6px;
  width: 7%;
  margin-bottom: 48px;
  margin-top: 12px;
}

.media_elder_title {
  font-size: 36px;
}

.media_elder_subject {
  font-size: 20px;
  margin: 24px 0;
  font-weight: bold;
}

.media_elder_content {
  font-size: 20px;
  color: rgb(83, 83, 83);
  text-indent: -3em;
  padding-left: 3em;
}

.media_elder_area {
  width: 70%;
  background-color: #fff;
  margin: auto;
  -moz-box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5);
  -webkit-box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5);
  box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5);
  border-radius: 1%;
}

.index_subtitle_font {
  font-family: 'Bodoni 72';
  font-weight: bold;
}