#news_content {
  width: 60%;
  margin: auto;
  min-height: 400px;
}

#news_content_top_title {
  margin-top: 20px;
}

.new_content_title {
  margin: 20px 0;
  border-bottom: #343a40 1px solid;
}

#news_content_p {
  margin-top: 96px;
}

#news_date {
  text-align: right;
}
