#photos_top_title {
    margin-top: 20px;
}

#albums {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.gallery {
    /* border: #868686 1px solid; */
    width: calc(100% / 3);
    /* padding: 20px; */
}

.card_album_set {
    margin: auto;
}