#valid_email_tips {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    min-height: 300px;
}

#valid_buttons {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

.valid_buttons_set {
    margin: 0 20px;
}